version = 0.28.1

profile = default

break-string-literals = never
dock-collection-brackets = false
leading-nested-match-parens = false
parens-tuple = multi-line-only
space-around-variants = false
space-around-arrays = false
space-around-lists = false
space-around-records = true
break-infix = fit-or-vertical
break-separators = after
break-cases = fit-or-vertical
cases-exp-indent = 2
exp-grouping = preserve
if-then-else = fit-or-vertical
let-and = sparse
type-decl = sparse
